<html>
<head>
    <title>{{ networkName }}</title>
    <link rel="stylesheet" href="/assets/table.css">
</head>
<body>
    <center>
        <img src="/assets/{{ networkLogo }}" width=325.75 height=125>
        <h1>{{ networkName }}</h1>
        <p>{{ description }}</p>

        <hr>
        <p><a href="/"><b>Home</b></a> | <a href="/channels">Channel directory</a> | <a href="/raw">Raw data</a> | <a href="/api">API dump</a></p>
        <hr>

        <div>
            <h2>Servers</h2>
            <p><i>A complete list of all currently active linked servers is below</i></p>
            <br>

            <table border="1">
                <tr>
                    <th>Server</th>
                    <th>Users online</th>
                </tr>
                {% for server in servers %}
                    <tr>
                        <td>{{ server['name'] }}</td>
                        <td>{{ server['users'] }}</td>
                    </tr>
                {% endfor %}
            </table>            

            <br>

            <h2>Network state</h2>
            <p><i>Some information regarding the global state of the network</i></p>
            <br>

            <p><b>Total messages:</b> {{ messages }} </p>
            <p><b>Operators:</b> {{ operators }} </p>
            <p><b>Clients:</b> {{ clients }} </p>
            <p><b>Channels:</b> {{ channels }} </p>
        </div>
    </center>



</body>
</html>
